<mat-card class="vehicle-admin">
  <mat-card-content>
    <form class="vehicle-form" #vehicleForm="ngForm">
      <div class="mb-3">
        <label for="vehYear" class="form-label">Vehicle Year</label>
        <input type="number" class="form-control" id="vehYear" name="vehicleyear" ngModel #vYear="ngModel" placeholder="####" required>
        <mat-error *ngIf="vYear.errors?.required">Vehicle Year is Required!</mat-error>
      </div>
      <div class="mb-3">
        <label for="vehMake" class="form-label" >Vehicle Make</label>
        <input type="text" class="form-control" id="vehMake" name="vehiclemake" ngModel #vMake="ngModel" placeholder="Vehicle Make" required>
        <mat-error *ngIf="vMake.errors?.required">Vehicle Make is Required!</mat-error>
      </div>
      <div class="mb-3">
        <label for="vehModel" class="form-label">Vehicle Model</label>
        <input type="text" class="form-control" id="vehModel" name="vehiclemodel" ngModel #vModel="ngModel" placeholder="Vehicle Model" required>
        <mat-error *ngIf="vModel.errors?.required">Vehicle Model is Required!</mat-error>
      </div>
      <div class="mb-3">
        <label for="vehColor" class="form-label">Vehicle Color</label>
        <input type="text" class="form-control" id="vehColor" name="vehiclecolor" ngModel #vColor="ngModel" placeholder="Vehicle Color" required>
        <mat-error *ngIf="vColor.errors?.required">Vehicle Color is Required!</mat-error>
      </div>
      <div class="mb-3">
        <label for="vehMileage" class="form-label">Vehicle Mileage</label>
        <input type="number" class="form-control" id="vehMileage" name="vehiclemileage" ngModel #vMileage="ngModel" placeholder="######" required>
        <mat-error *ngIf="vMileage.errors?.required">Vehicle Mileage is Required!</mat-error>
      </div>
      <div class="mb-3">
        <label for="vehWho" class="form-label">Vehicle Who?</label>
        <input type="text" class="form-control" id="vehWho" name="vehiclewho" ngModel #vWho="ngModel">
      </div>
      <button type="button" class="btn btn-secondary" (click)="submit(vehicleForm)">Submit</button>
    </form>
  </mat-card-content>
</mat-card>
