<mat-card>
  <mat-card-title>Lawn Services</mat-card-title>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <img src="assets/landscape-design.jpg"> <br>
        Landscape Design <br>
        Grass Grazers provides professional custom landscape design plans for both commercial and residential properties.
      </div>
      <div class="col-sm">
        <img src="assets/lawn-renovation.jpg"> <br>
        Lawn Renovation <br>
        Grass Grazers provides solutions to restore your lawn to a healthy and good looking condition.
      </div>
      <div class="col-sm">
        <img src="assets/irrigation.jpg"> <br>
        Irrigation <br>
        Grass Grazers can help you discover the perfect solution for your property, with all of the right heads and controllers, based on a number of factors, from soil composition for your plants’ water needs.
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <img src="assets/property-maintenance.jpg"> <br>
        Property Maintenance <br>
        Grass Grazers provides options to help you keep your grounds looking exceptional throughout any season.
      </div>
      <div class="col-sm">
        <img src="assets/commercial-services.jpg"> <br>
        Commercial Services <br>
        Grass Grazers creates the best first impression and provide premium curb appeal for your business property.
      </div>
      <div class="col-sm">
        <img src="assets/fertilization-and-weed-control.jpg"> <br>
        Fertilization & Weed Control <br>
        Grass Grazers keeps your lawn looking its best with a regularly scheduled fertilization and weed control program.
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <img src="assets/hardscaping.jpg"> <br>
        Hardscaping <br>
        Grass Grazers provides patios, driveways, walls, and walkways to define, enhance and complement your landscaping.
      </div>
      <div class="col-sm">
        <img src="assets/power-washing.jpg"> <br>
        Power Washing <br>
        Grass Grazers makes your exterior surfaces look their best with our professional power washing.
      </div>
      <div class="col-sm">
        <img src="assets/mosquito-tick-control.jpg"> <br>
        Mosquito & Tick Control <br>
        Grass Grazers provides protects your family and pets from disease-carrying mosquitoes and ticks all season long.
      </div>
    </div>
  </div>
</mat-card>

<footer>
  <div class="container">
    <div class="row" id="footerRow">
      <div class="col">
        <img class="img-fluid" src="assets/frame.png">
      </div>
      <div class="col-6" id="contactInfo">
        7524 Highway 707, Myrtle Beach SC 29588 <br>
        (843) 888-8888
      </div>
      <div class="col">
        <img class="img-fluid" src="assets/Leaf1.png" id="leaf">
      </div>
    </div>
  </div>
</footer>
