<div class="container">
  <div class="row">
    <img class="img-fluid" src="assets/pictureoflawn.png" id="homePicture">
  </div>
</div>

<footer>
  <div class="container">
    <div class="row" id="footerRow">
      <div class="col">
        <img class="img-fluid" src="assets/frame.png">
      </div>
      <div class="col-6" id="contactInfo">
        7524 Highway 707, Myrtle Beach SC 29588 <br>
        (843) 888-8888
      </div>
      <div class="col">
        <img class="img-fluid" src="assets/Leaf1.png" id="leaf">
      </div>
    </div>
  </div>
</footer>


