#homePicture {
  padding-top: 4%;
  padding-bottom: 4%;
  padding-left: 8%;
}

#footerRow {
  padding-left: 10%;
}

#contactInfo {
  text-align: center;
  padding-top: 8%;
}

#leaf {
  padding-top: 5%;
  padding-right: 12%;
  padding-bottom: 25%;
}
